<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.open.capacity.answer.dao.QuestionStatisticsMapper">
    <resultMap id="BaseResultMap" type="com.open.capacity.answer.entity.QuestionStatisticsEntity">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="question_id" jdbcType="INTEGER" property="questionId"/>
        <result column="org_id" jdbcType="INTEGER" property="orgId"/>
        <result column="set_id" jdbcType="VARCHAR" property="setId"/>
        <result column="choiceA_num" jdbcType="INTEGER" property="choiceaNum"/>
        <result column="choiceB_num" jdbcType="INTEGER" property="choicebNum"/>
        <result column="choiceC_num" jdbcType="INTEGER" property="choicecNum"/>
        <result column="choiceD_num" jdbcType="INTEGER" property="choicedNum"/>
        <result column="choiceE_num" jdbcType="INTEGER" property="choiceeNum"/>
        <result column="wrong_num" jdbcType="INTEGER" property="wrongNum"/>
        <result column="right_num" jdbcType="INTEGER" property="rightNum"/>
        <result column="create_time" jdbcType="DATE" property="createTime"/>
        <result column="update_time" jdbcType="DATE" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, question_id,org_id, choiceA_num, choiceB_num, choiceC_num, choiceD_num, choiceE_num,
    wrong_num, right_num, create_time, update_time
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from question_statistics
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from question_statistics
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.open.capacity.answer.entity.QuestionStatisticsEntity">
    insert into question_statistics (id, question_id, choiceA_num, 
      choiceB_num, choiceC_num, choiceD_num, 
      choiceE_num, wrong_num, right_num, 
      create_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{questionId,jdbcType=INTEGER}, #{choiceaNum,jdbcType=INTEGER}, 
      #{choicebNum,jdbcType=INTEGER}, #{choicecNum,jdbcType=INTEGER}, #{choicedNum,jdbcType=INTEGER}, 
      #{choiceeNum,jdbcType=INTEGER}, #{wrongNum,jdbcType=INTEGER}, #{rightNum,jdbcType=INTEGER}, 
      #{createTime,jdbcType=DATE}, #{updateTime,jdbcType=DATE})
  </insert>
    <insert id="insertSelective" parameterType="com.open.capacity.answer.entity.QuestionStatisticsEntity">
        insert into question_statistics
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="questionId != null">
                question_id,
            </if>
            <if test="orgId != null">
                org_id,
            </if>
            <if test="setId != null">
                set_id,
            </if>
            <if test="choiceaNum != null">
                choiceA_num,
            </if>
            <if test="choicebNum != null">
                choiceB_num,
            </if>
            <if test="choicecNum != null">
                choiceC_num,
            </if>
            <if test="choicedNum != null">
                choiceD_num,
            </if>
            <if test="choiceeNum != null">
                choiceE_num,
            </if>
            <if test="wrongNum != null">
                wrong_num,
            </if>
            <if test="rightNum != null">
                right_num,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="questionId != null">
                #{questionId,jdbcType=INTEGER},
            </if>
            <if test="orgId != null">
                #{orgId,jdbcType=INTEGER},
            </if>
            <if test="setId != null">
                #{setId,jdbcType=VARCHAR},
            </if>
            <if test="choiceaNum != null">
                #{choiceaNum,jdbcType=INTEGER},
            </if>
            <if test="choicebNum != null">
                #{choicebNum,jdbcType=INTEGER},
            </if>
            <if test="choicecNum != null">
                #{choicecNum,jdbcType=INTEGER},
            </if>
            <if test="choicedNum != null">
                #{choicedNum,jdbcType=INTEGER},
            </if>
            <if test="choiceeNum != null">
                #{choiceeNum,jdbcType=INTEGER},
            </if>
            <if test="wrongNum != null">
                #{wrongNum,jdbcType=INTEGER},
            </if>
            <if test="rightNum != null">
                #{rightNum,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=DATE},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=DATE},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.open.capacity.answer.entity.QuestionStatisticsEntity">
        update question_statistics
        <set>
            <if test="questionId != null">
                question_id = #{questionId,jdbcType=INTEGER},
            </if>
            <if test="choiceaNum != null">
                choiceA_num = #{choiceaNum,jdbcType=INTEGER},
            </if>
            <if test="choicebNum != null">
                choiceB_num = #{choicebNum,jdbcType=INTEGER},
            </if>
            <if test="choicecNum != null">
                choiceC_num = #{choicecNum,jdbcType=INTEGER},
            </if>
            <if test="choicedNum != null">
                choiceD_num = #{choicedNum,jdbcType=INTEGER},
            </if>
            <if test="choiceeNum != null">
                choiceE_num = #{choiceeNum,jdbcType=INTEGER},
            </if>
            <if test="wrongNum != null">
                wrong_num = #{wrongNum,jdbcType=INTEGER},
            </if>
            <if test="rightNum != null">
                right_num = #{rightNum,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=DATE},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=DATE},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.open.capacity.answer.entity.QuestionStatisticsEntity">
    update question_statistics
    set question_id = #{questionId,jdbcType=INTEGER},
      choiceA_num = #{choiceaNum,jdbcType=INTEGER},
      choiceB_num = #{choicebNum,jdbcType=INTEGER},
      choiceC_num = #{choicecNum,jdbcType=INTEGER},
      choiceD_num = #{choicedNum,jdbcType=INTEGER},
      choiceE_num = #{choiceeNum,jdbcType=INTEGER},
      wrong_num = #{wrongNum,jdbcType=INTEGER},
      right_num = #{rightNum,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=DATE},
      update_time = #{updateTime,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>


    <select id="selectByQuestionId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from question_statistics
        where question_id = #{questionId,jdbcType=INTEGER}
        AND set_id =#{setId,jdbcType=VARCHAR}
    </select>

    <select id="selectByOrgId"
            resultType="com.open.capacity.answer.entity.QuestionStatisticsEntity">
        select
            qs.question_id,qs.org_id, qs.choiceA_num, qs.choiceB_num, qs.choiceC_num, qs.choiceD_num, qs.choiceE_num,
    qs.wrong_num, qs.right_num,q.question,q.question_type,q.choiceA,q.choiceB,q.choiceC,q.choiceD,q.choiceE
        from question_statistics qs
        LEFT JOIN questions q ON q.id = qs.id
        where qs.org_id = #{orgId,jdbcType=INTEGER}
        AND qs.set_id = #{setId,jdbcType=VARCHAR}
        AND q.question = #{questionTitle,jdbcType=VARCHAR}
    </select>
</mapper>