<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.open.capacity.answer.dao.SelectionModelMapper">
  <resultMap id="BaseResultMap" type="com.open.capacity.answer.entity.SelectionModelEntity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="model_type" jdbcType="INTEGER" property="modelType" />
    <result column="create_time" jdbcType="DATE" property="createTime" />
    <result column="update_time" jdbcType="DATE" property="updateTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.open.capacity.answer.entity.SelectionModelEntity">
    <result column="html" jdbcType="LONGVARCHAR" property="html" />
  </resultMap>
  <sql id="Base_Column_List">
    id, model_type, create_time, update_time
  </sql>
  <sql id="Blob_Column_List">
    html
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from selection_model
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from selection_model
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.open.capacity.answer.entity.SelectionModelEntity">
    insert into selection_model (id, model_type, create_time, 
      update_time, html)
    values (#{id,jdbcType=INTEGER}, #{modelType,jdbcType=INTEGER}, #{createTime,jdbcType=DATE}, 
      #{updateTime,jdbcType=DATE}, #{html,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.open.capacity.answer.entity.SelectionModelEntity">
    insert into selection_model
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="modelType != null">
        model_type,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="html != null">
        html,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="modelType != null">
        #{modelType,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=DATE},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=DATE},
      </if>
      <if test="html != null">
        #{html,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.open.capacity.answer.entity.SelectionModelEntity">
    update selection_model
    <set>
      <if test="modelType != null">
        model_type = #{modelType,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=DATE},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=DATE},
      </if>
      <if test="html != null">
        html = #{html,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.open.capacity.answer.entity.SelectionModelEntity">
    update selection_model
    set model_type = #{modelType,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=DATE},
      update_time = #{updateTime,jdbcType=DATE},
      html = #{html,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.open.capacity.answer.entity.SelectionModelEntity">
    update selection_model
    set model_type = #{modelType,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=DATE},
      update_time = #{updateTime,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>